# CLAUDE.md

> 本项目采用的默认语言为：简体中文

## 项目简介



## 架构规范
- 项目文档，放到 docs/ 下


## 开发规范
- 每次开发前，先阅读一遍，TODO.md 和 CHANGLOG.md 了解项目最新进展
- 如果每次开发结束后，还有待讨论的事项内容，需要在 TODO.md 中进行记录

## 提交规范
- 不提交中间产物与辅助文档、开发计划等
- 每次提交需要清晰说明开修改内容，还需要在 CHANGLOG.md 中进行说明

## 外部链接

